HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



### MySQL/Docker Volume Data ###
# Ignore all volume data
/volume-data/
/volume-data/*
!/volume-data/.gitkeep

# Ignore Keycloak data
/keycloak-data/
/keycloak-data/*
!/keycloak-data/.gitkeep

# MySQL specific files
**/mysql_keycloak_data/
**/mysql_keycloak_data/*
!**/mysql_keycloak_data/.gitkeep
*.sock
*.cnf
*.index
*.pid
*.log
*.ibd
*.frm
*.ib_logfile*
binlog.*
auto.cnf
ib_buffer_pool
ibtmp1
undo_*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
bin/
out/

### VS Code ###
.vscode/
*.code-workspace

### Java ###
*.class
*.jar
*.war
*.ear
*.log
*.lock
*.ser
*.tmp
*.orig
*~
.springBeans

### Environment ###
.env
application-local.yaml
application-dev.yaml
application-*.yaml
!application.yaml

### Docker ###
docker-compose.override.yaml