HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MySQL/Docker Volume Data ###
# Ignore all volume data
/volume-data/
/volume-data/*
!/volume-data/.gitkeep

# Ignore Keycloak data
/keycloak-data/
/keycloak-data/*
!/keycloak-data/.gitkeep

# MySQL specific files
**/mysql_keycloak_data/
**/mysql_keycloak_data/*
!**/mysql_keycloak_data/.gitkeep