spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver.jwt.issuer-uri: http://localhost:8181/realms/e-commerce-microservices-security-realm

server:
  port: 9000

debug: true
