HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MySQL Data Directory ###
# Ignore entire data directory
/docker/mysql/data/
/docker/mysql/data/*
!/docker/mysql/data/.gitkeep

### MySQL/Database ###
mysql-data/
mysql-data/*
!mysql-data/.gitkeep
